
.example-button-row button
{
  margin-right: 20px;
  margin-left: 10px;
}
.example-menu-row button
{
  margin-right: 40px;
}


.menuBardemoBasicUsage .page-container {
  padding: 10px; }

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 12px;
  max-width: 680px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  margin-right: 8px; }


.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem; }

.myMenu{
  display: flex;
  }
  .mat-card-title {
  /*  display: block;*/
    margin-right: 8px;
}
