<h3>Liste des chaines associées à l'utilisateur</h3>

<p>userchain works!</p>


<mat-card-content>
  <table mat-table [dataSource]="dataSourceChain" matSort style="width: 100%;">



    <!--///////////////////////////////////////////////////////////////////////-->


    <!-- nomdelachaine Column -->
    <ng-container matColumnDef='nomdelachaine'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          nomdelachaine.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            nomdelachaine.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.nomdelachaine'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.nomdelachaine'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('nomdelachaine')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.nomdelachaine}} </td>
    </ng-container>




    <!--///////////////////////////////////////////////////////////////////////-->


    <!-- shortname Column -->
    <ng-container matColumnDef='shortname'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          shortname.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            shortname.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.shortname'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.shortname'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('shortname')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.shortname}} </td>
    </ng-container>





    <!--///////////////////////////////////////////////////////////////////////-->




    <!-- outildetest Column -->
    <ng-container matColumnDef='outildetest'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          outildetest.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            outildetest.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.outildetest'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.outildetest'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('outildetest')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.outildetest}} </td>
    </ng-container>



    <!--///////////////////////////////////////////////////////////////////////-->



    <!-- accesauxchaines Column -->
    <ng-container matColumnDef='accesauxchaines'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          accesauxchaines.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            accesauxchaines.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.accesauxchaines'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.accesauxchaines'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('accesauxchaines')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.accesauxchaines}} </td>
    </ng-container>



    <!-- accesauxchaines Column
    <ng-container matColumnDef='accesauxchaines'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          accesauxchaines.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            accesauxchaines.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.accesauxchaines'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.accesauxchaines'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('accesauxchaines')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.accesauxchaines}} </td>
    </ng-container>

-->

    <!-- datedemodification Column -->
    <ng-container matColumnDef='datedemodification'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          datedemodification.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            datedemodification.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.datedemodification'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.datedemodification'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('datedemodification')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.datedemodification}} </td>
    </ng-container>
    <!--///////////////////////////////////////////////////////////////////////-->


    <!--///////////////////////////////////////////////////////////////////////-->




    <!-- auteurdemodification Column -->
    <ng-container matColumnDef='auteurdemodification'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          auteurdemodification.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            auteurdemodification.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.auteurdemodification'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.auteurdemodification'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('auteurdemodification')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.auteurdemodification}} </td>
    </ng-container>
    <!--///////////////////////////////////////////////////////////////////////-->


    <!--///////////////////////////////////////////////////////////////////////-->

    <!-- Editer Column -->
    <ng-container matColumnDef='edit'>
      <th mat-header-cell *matHeaderCellDef> Editer </th>
      <td mat-cell *matCellDef='let chain'>
        <mat-card-actions align='left'>
          <a [routerLink]="['/chain', chain.id ]" (click)='onEditChain(chain.id)' mat-raised-button
            color='primary'>Editer</a>

        </mat-card-actions>
      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="chainDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: chainDisplayedColumns;"></tr>

  </table>
</mat-card-content>


<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
