td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    border-color: blueviolet;
}

td {
    text-align: center;
}

.mat-raised-button
{
margin-left: 15px;
margin-right: 0px;
margin-top: 10px;
margin-bottom: 10px;
}
