<app-menu></app-menu>


<!--

METTRE NGIF SUR USER + BOUTON A AFFICHER
<button *ngIf="isAvailable">BUY</button>
-->


<div *ngIf="isAvailable">Content to render when condition is true.
  <h2 class="mat-h2">Informations du user </h2>

  <div>id : {{user.id}}</div>
  <div>iud : {{user.iud}}</div>
  <div>Nom : {{user.nom}}</div>
  <div>Prénom : {{user.prenom}}</div>
  <div>---chaines----</div>
<span *ngFor="let tchaines of user.tchaines">
  <div> chain.id : {{tchaines.id}}</div>
   </span>






  <div> ------- </div>
</div>


<!--
  <div *ngIf="display">{{user.iud}}</div>

</div>
-->
<h2 class="mat-h2">Chaines disponibles </h2>

<mat-card-content>
  <table mat-table [dataSource]="dataSourceChain" matSort style="width: 100%;">



    <!--///////////////////////////////////////////////////////////////////////-->


    <!-- nomdelachaine Column -->
    <ng-container matColumnDef='nomdelachaine'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          nomdelachaine.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            nomdelachaine.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.nomdelachaine'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.nomdelachaine'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('nomdelachaine')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.nomdelachaine}} </td>
    </ng-container>




    <!--///////////////////////////////////////////////////////////////////////-->


    <!-- shortname Column -->
    <ng-container matColumnDef='shortname'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          shortname.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            shortname.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.shortname'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.shortname'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('shortname')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.shortname}} </td>
    </ng-container>





    <!--///////////////////////////////////////////////////////////////////////-->




    <!-- outildetest Column -->
    <ng-container matColumnDef='outildetest'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          outildetest.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            outildetest.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.outildetest'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.outildetest'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('outildetest')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.outildetest}} </td>
    </ng-container>



    <!--///////////////////////////////////////////////////////////////////////-->



    <!-- accesauxchaines Column -->
    <ng-container matColumnDef='accesauxchaines'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          accesauxchaines.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            accesauxchaines.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.accesauxchaines'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.accesauxchaines'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('accesauxchaines')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.accesauxchaines}} </td>
    </ng-container>



    <!-- accesauxchaines Column
    <ng-container matColumnDef='accesauxchaines'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          accesauxchaines.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            accesauxchaines.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.accesauxchaines'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.accesauxchaines'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('accesauxchaines')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.accesauxchaines}} </td>
    </ng-container>

-->

    <!-- datedemodification Column -->
    <ng-container matColumnDef='datedemodification'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          datedemodification.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            datedemodification.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.datedemodification'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.datedemodification'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('datedemodification')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.datedemodification}} </td>
    </ng-container>
    <!--///////////////////////////////////////////////////////////////////////-->


    <!--///////////////////////////////////////////////////////////////////////-->




    <!-- auteurdemodification Column -->
    <ng-container matColumnDef='auteurdemodification'>
      <th mat-header-cell *matHeaderCellDef>
        <div class='header'>
          auteurdemodification.
          <button mat-button class='btn-toggle' [matMenuTriggerFor]='menu'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <mat-menu #menu>
          <div mat-menu-item mat-filter-item [disableRipple]='true' class='menu-title'>
            auteurdemodification.
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <mat-select [panelClass]="'mat-elevation-z10'" placeholder='Conditions'
                [(value)]='searchCondition.auteurdemodification'>
                <mat-option *ngFor='let  condition of conditionsList' [value]='condition.value'>{{condition.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <mat-form-field>
              <input matInput placeholder='Value' [(ngModel)]='searchValue.auteurdemodification'>
            </mat-form-field>
          </div>
          <div mat-menu-item mat-filter-item [disableRipple]='true'>
            <button mat-raised-button (click)="clearColumn('auteurdemodification')">Clear</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let chain"> {{chain.auteurdemodification}} </td>
    </ng-container>
    <!--///////////////////////////////////////////////////////////////////////-->


    <!--///////////////////////////////////////////////////////////////////////-->

    <!-- Editer Column -->
    <ng-container matColumnDef='edit'>
      <th mat-header-cell *matHeaderCellDef> Editer </th>
      <td mat-cell *matCellDef='let chain'>
        <mat-card-actions align='left'>
          <a [routerLink]="['/chain', chain.id ]" (click)='onEditChain(chain.id)' mat-raised-button
            color='primary'>Editer</a>
        </mat-card-actions>
      </td>
    </ng-container>


    <ng-container matColumnDef='ajouter'>
      <th mat-header-cell *matHeaderCellDef> Ajouter </th>
      <td mat-cell *matCellDef='let chain'>
        <mat-card-actions align='left'>
          <a (click)='onAddChainToUser(chain)' mat-raised-button color='primary'>Ajouter</a>
        </mat-card-actions>
      </td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td mat-cell *matCellDef="let chain">
        <mat-card-actions align="left">
          <a mat-raised-button color="primary" (click)="clickMethod(chain.id)">Supprimer</a>
        </mat-card-actions>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="chainDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: chainDisplayedColumns;"></tr>

  </table>
</mat-card-content>


<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<!--






<div>
  <form [formGroup]="chainForm" (ngSubmit)="onNewChain()">

    <body>
         <table>
          <tr>
            <th> nomdelachaine </th>
            <th> shortname </th>
            <th> outildetest </th>
            <th> accesauxchaines </th>
            <th> datedernieremodification</th>
            <th> auteurdernieremodification </th>

            <th> Editer ? </th>
            <th> Sélectionner ! </th>
            <th> Supprimer ? </th>
          </tr>

          <tr *ngFor=" let chain of chains | async; let i = index">
            <td>{{chain.nomdelachaine}}</td>
            <td>{{chain.shortname}}</td>
            <td>{{chain.outildetest}}</td>
            <td>{{chain.accesauxchaines}}</td>
            <td>{{chain.datedernieremodification}}</td>
            <td>{{chain.auteurdernieremodification}}</td>

            <td>
              <button class="button" type> Editer </button>
            </td>
            <td>
              <button class="button" [routerLink]="'jeu/'+i"> Sélectionner </button>
            </td>
-->
<!--
            <td><button class="btn liste" (click)="onDeleteTimeline(chain.nomdelachaine)"> Supprimer </button></td>

            <td>
              <button (click)="deleteUser(chain.iud)">Supprimer</button>
            </td>

        </table>

    </body>


  </form>
</div>
  -->
<!---->
<app-userchain></app-userchain>
