<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="1000px" fxFlex.xs="100%">
    <form [formGroup]="chainForm" novalidate (ngSubmit)="onCreateChain(chainForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-header>
        <mat-card-title>formumaire 111</mat-card-title>
        <mat-card-subtitle>formulaire 222</mat-card-subtitle>
      </mat-card-header>





      <mat-card-content>



        <mat-form-field style="margin-right: 10px;">
          <mat-label> nomdelachaine : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du nomdelachaine" formControlName="nomdelachaine"
            required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('nomdelachaine', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('nomdelachaine', 'maxlength')">Le nomdelachaine saisi dépasse 6 caractères
          </mat-error>
        </mat-form-field>
        date


        <mat-form-field style="margin-right: 10px;">
          <mat-label> Nom : </mat-label>
          <input matInput placeholder="shortname" formControlName="shortname" maxlength="11" required>
          <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
          <mat-hint>11 caractères maximum.</mat-hint>
          <mat-error *ngIf="hasError('shortname', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('shortname', 'maxlength')">La shortname saisie dépasse 11 caractères</mat-error>
        </mat-form-field>


        <mat-form-field style="margin-right: 10px;">
          <mat-label> accesauxchaines : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du accesauxchaines" formControlName="accesauxchaines"
            required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('accesauxchaines', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('accesauxchaines', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> codeenvironnement : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du codeenvironnement"
            formControlName="codeenvironnement" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('codeenvironnement', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('codeenvironnement', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> ibmexportpath : </mat-label>
          <input matInput #input maxlength="256" placeholder="Nom du ibmexportpath" formControlName="ibmexportpath"
            required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
          <mat-error *ngIf="hasError('ibmexportpath', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('ibmexportpath', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> buildpath : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du buildpath" formControlName="buildpath" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('buildpath', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('buildpath', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> rpmpath : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du rpmpath" formControlName="rpmpath" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('rpmpath', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('rpmpath', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> langage : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du langage" formControlName="langage" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('langage', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('langage', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> outildetest : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du outildetest" formControlName="outildetest" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('outildetest', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('outildetest', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> version : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du version" formControlName="version" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('version', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('version', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>



        <mat-label class="mat-radio-label"> Is sed : </mat-label>
        <mat-radio-group #rGroup formControlName="sed" required style="margin-right: 10px;">
          <mat-radio-button value="Non" radioGroup="rGroup">Non</mat-radio-button>
          <mat-radio-button value="Générable" radioGroup="rGroup">Générable</mat-radio-button>
          <mat-radio-button value="Non Générable" radioGroup="rGroup">Non Générable</mat-radio-button>
        </mat-radio-group>



        <mat-label class="mat-radio-label"> is optiondecimal: </mat-label>
        <mat-radio-group #rGroup formControlName="optiondecimal" required style="margin-right: 10px;">
          <mat-radio-button value="True" radioGroup="rGroup">true</mat-radio-button>
          <mat-radio-button value="False" radioGroup="rGroup">False</mat-radio-button>
        </mat-radio-group>


        <mat-label class="mat-radio-label"> Is optionpmml : </mat-label>
        <mat-radio-group #rGroup formControlName="optionpmml" required style="margin-right: 10px;">
          <mat-radio-button value="True" radioGroup="rGroup">true</mat-radio-button>
          <mat-radio-button value="False" radioGroup="rGroup">False</mat-radio-button>
        </mat-radio-group>



        <mat-label> Is callsed : </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Select me for Is callsed </mat-label>
          <mat-select formControlName="callsed" required>
            <mat-option value="REST">REST</mat-option>
            <mat-option value="SOAP">SOAP</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>








        <mat-form-field style="margin-right: 10px;">
          <mat-label> applicationappelante : </mat-label>
          <input matInput #input maxlength="256" placeholder="Nom du applicationappelante"
            formControlName="applicationappelante" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
          <mat-error *ngIf="hasError('applicationappelante', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('applicationappelante', 'maxlength')">Le applicationappelante saisi dépasse 6
            caractères</mat-error>
        </mat-form-field>

        <mat-form-field style="margin-right: 10px;">
          <mat-label> business : </mat-label>
          <input matInput #input maxlength="256" placeholder="Nom du business" formControlName="business" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
          <mat-error *ngIf="hasError('business', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('business', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>




        <mat-label class="mat-radio-label"> Is prod : </mat-label>
        <mat-radio-group #rGroup formControlName="prod" required style="margin-right: 10px;">
          <mat-radio-button value="True" radioGroup="rGroup">true</mat-radio-button>
          <mat-radio-button value="False" radioGroup="rGroup">False</mat-radio-button>
        </mat-radio-group>




        <mat-label class="mat-radio-label"> groupe : </mat-label>
        <mat-radio-group #rGroup formControlName="groupe" required style="margin-right: 10px;">
          <mat-radio-button value="G1" radioGroup="rGroup">G1</mat-radio-button>
          <mat-radio-button value="G2" radioGroup="rGroup">G2</mat-radio-button>
          <mat-radio-button value="G3" radioGroup="rGroup">G3</mat-radio-button>
        </mat-radio-group>





        <mat-form-field style="margin-right: 10px" class="invisible">
          <mat-label> Date de création : </mat-label>
          <input matInput placeholder="datedecreation" formControlName="datedecreation"
            value="2020-03-10T10:02:47.531+0000">
          <mat-hint>DATE xx caractères maximum.</mat-hint>
        </mat-form-field>


        <mat-form-field style="margin-right: 10px;" class="invisible">
          <mat-label> Auteur de Création : </mat-label>
          <input matInput placeholder="auteurcreation du auteurcreation" formControlName="auteurcreation">
          <mat-hint>xx caractères maximum.</mat-hint>
          <mat-error *ngIf="hasError('auteurcreation', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('auteurcreation', 'maxlength')">Le iud saisi dépasse x caractères</mat-error>
        </mat-form-field>





        <mat-form-field style="margin-right: 10px;">
          <mat-label> datedemodification : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du datedemodification"
            formControlName="datedemodification">
        </mat-form-field>


        <mat-form-field style="margin-right: 10px;">
          <mat-label> auteurdemodification : </mat-label>
          <input matInput #input maxlength="6" placeholder="Nom du auteurdemodification"
            formControlName="auteurdemodification" required>
          <mat-hint>6 caractères maximum.</mat-hint>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="hasError('auteurdemodification', 'required')">Saisie obligatoire</mat-error>
          <mat-error *ngIf="hasError('auteurdemodification', 'maxlength')">Le iud saisi dépasse 6 caractères</mat-error>
        </mat-form-field>
        <!--
      -->


        <mat-card-actions align="left">
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Annuler</button>

          <button mat-raised-button color="primary" [disabled]="!chainForm.valid"
            style="margin-left: 15px;">Enregistrer</button>

        </mat-card-actions>



      </mat-card-content>
    </form>
  </mat-card>
</section>
