/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin:20; font-family: Roboto, "Helvetica Neue", sans-serif; }


.basic-container {
  padding: 30px;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  display: initial;
  margin-bottom: 16px;
}
